# *
.DS_Store
*~
*.vcxproj.user
*.csproj.user
*.sdf
*.opensdf
*.suo
*.VC.db
*.VC.opendb
*.aps

# /
/MacOSX
/eclipse-build
/(*
/cpp-*
/ieee1516e-*

# /.settings/
/.settings/org.eclipse.mylyn.tasks.ui.prefs
/.settings/org.eclipse.wst.validation.prefs

# /codebase/
/codebase/local.properties
/codebase/build
/codebase/logs
/codebase/dist
/codebase/savedata

# /codebase/documentation/
/codebase/documentation/javadoc

# /codebase/lib/clover/
/codebase/lib/clover/clover.license
