/*
Template: Halftime
Author: Just Good Themes, http://justgoodthemes.com/
Version: 1.0
*/

/*
Colors:
#ffffff, rgb(255,255,255)
#bec7cf, rgb(190,199,207)
#6c7a89, rgb(108,122,137)
#49535d, rgb(73,83,93)
#161e27, rgb(22,30,39)
#1799dd, rgb(23,153,221)
*/

/* Reset
-------------------------------------------------*/
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 93.75%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background: #161e27;
	color: #bec7cf;
	line-height: 1.5;
	margin: 0;
}

html,
body {
	height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

a {
	color: #1799dd;
	text-decoration: none;
}

a:active,
a:focus,
a:hover {
	outline: 0;
}

a:hover {
	text-decoration: underline;
}

b,
strong {
  font-weight: bold;
}

h1,
h2,
h3 {
	color: #fff;
	font-weight: 300;
	line-height: 1.2;
	margin: 45px 0 20px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h2.team-name { margin: 45px 0 5px; }

p {
	margin: 0 0 30px;
}

ul,
ol {
	margin: 0 0 30px 30px;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

blockquote {
	font-style: italic;
	margin: 0 0 30px;
}

img {
	border: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

svg:not(:root) {
	overflow: hidden;
}

form {
	margin: 0;
}

button,
input,
textarea {
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
	color: inherit;
	font: inherit;
	margin: 0;
}

button,
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
	line-height: normal;
}

textarea {
	overflow: auto;
}

/* General styles
-------------------------------------------------*/
/* Clearing floats */
.row:before,.row:after,
#menu:before,#menu:after,
.team-social:before,.team-social:after,
.footer-social:before,.footer-social:after,
.service:before,.service:after,
.spinner:before,.spinner:after {
	content: ""; 
	display: table; 
}

.row:after,
#menu:after,
.team-social:after,
.footer-social:after,
.service:after,
.spinner:after {
	clear: both; 
}

/* Assistive text */
.visually-hidden {
	border: 0 none;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

/* Grid */
.row {
	margin-left: -30px;
}

.one-half,
.one-third,
.two-thirds {
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
	float: left;
	padding-left: 30px;
}

.one-half {
	width: 50%;
}

.one-third {
	width: 33.333%;
}

.two-thirds {
	width: 66.666%;
}

/* Forms */
button,
input,
textarea {
	background: 0;
	background: rgba(255,255,255,0.15);
	border: 2px solid #fff;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	padding: 5px 10px;
}

input:focus,
textarea:focus {
	outline: 0;
}

button,
input[type="submit"] {
	font-size: 15px;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	border-color: #1799dd;
	color: #1799dd;
	outline: 0;
}

/* Placeholder text color */
::-webkit-input-placeholder {
	color: #eee;
}

:-moz-placeholder {
	color: #eee;
}

::-moz-placeholder {
	color: #eee;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #eee;
}

.placeholder {
	color: #eee;
}

/* Responsive images */
img {
	height: auto;
	max-width: 100%;
}

/* Text elements */
h1:first-child,
h2:first-child,
h3:first-child {
	margin-top: 0;
}

h1 .icon,
h2 .icon,
h3 .icon {
	background: #1799dd;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

h1 .icon {
	font-size: 20px;
	height: 36px;
	line-height: 1.8;
	margin-right: 15px;
	width: 36px;
}

h2 .icon {
	font-size: 16px;
	height: 28px;
	line-height: 1.75;
	margin-right: 15px;
	width: 28px;
}

h3 .icon {
	font-size: 14px;
	height: 21px;
	line-height: 1.5;
	margin-right: 10px;
	width: 21px;
}

.highlight {
	color: #fff;
	font-weight: bold;
}

/* Animations */
.fadeInLeft,
.fadeInRight {
	opacity: 0;
	-moz-transition: -moz-transform 1s, opacity 1s;
	-webkit-transition:	-webkit-transform 1s, opacity 1s;	
	transition: transform 1s, opacity 1s;
}

.fadeInLeft {
	-moz-transform: translateX(-15px);
	-webkit-transform: translateX(-15px);
	transform: translateX(-15px);
}

.fadeInRight {
	-moz-transform: translateX(15px);
	-webkit-transform: translateX(15px);
	transform: translateX(15px);
}

.fadeInLeft.animate,
.fadeInRight.animate {
	opacity: 1;
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.no-csstransforms .fadeInLeft,
.no-csstransforms .fadeInRight {
	opacity: 1;
}

/* Preload */
#preload {
	background: #161e27;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;	
	width: 100%;
	z-index: 998;
}

#preload-content {
	color: #bec7cf;
	font-size: 14px;
	height: 100px;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100px;
	z-index: 999;
}

.spinner {
	margin: 0 auto 14px;
	width: 56px;
}

.square {
	-webkit-animation-name: zoom-out;	
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: zoom-out;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	animation-name: zoom-out;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	background: #1799dd;
	border-radius: 3px;
	float: left;
	height: 24px;
	margin: 2px;
	width: 24px;
}

.square:nth-child(2) {
	-moz-animation-delay: 150ms;
	-webkit-animation-delay: 150ms;
	animation-delay: 150ms;
}
.square:nth-child(3) {
	-moz-animation-delay: 300ms;
	-webkit-animation-delay: 300ms;
	animation-delay: 300ms;
}
.square:nth-child(4) {
	-moz-animation-delay: 450ms;
	-webkit-animation-delay: 450ms;
	animation-delay: 450ms;
}

@-webkit-keyframes zoom-out {
	from,to { -webkit-transform: scale(0.0) }
	45%,55% { -webkit-transform: scale(1.0) }
}
@-moz-keyframes zoom-out {
	from,to { -moz-transform: scale(0.0) }
	45%,55% { -moz-transform: scale(1.0) }
}
@keyframes zoom-out {
	from,to { transform: scale(0.0) }
	45%,55% { transform: scale(1.0) }
}

/* Basic Structure
-------------------------------------------------*/
.left-wrap {
	height: 100%;
	position: fixed;
	width: 50%;
	z-index: 1;
}

.left-wrap .bg {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -2;
}

.left-wrap .bg-overlay {
	background: rgba(22,30,39,0.6);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

.right-wrap {
	background: #161e27;
	margin-left: 50%;
	min-height: 100%;
	overflow-x: hidden;
	position: relative;
	width: 50%;
	z-index: 1;
}

.inner {
	margin: 0 auto;
	max-width: 624px;
	padding: 45px 60px;
}

/* Left Wrap
-------------------------------------------------*/
/* Header */
.site-header {
	margin-bottom: 75px;
}

/* Intro */
.intro {
	margin-bottom: 45px;
}

.intro-title {
	color: #fff;
	font-size: 36px;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 20px;
}

/* Countdown timer */
.countdown {
	margin-bottom: 60px;
}

.countdown-title {
	color: #fff;
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 30px;
}

.countdown-title .icon {
	color: #fff;
	display: inline-block;
	font-size: 16px;
	height: 21px;
	line-height: 1.3125;
	margin-right: 3px;
	text-align: center;
	vertical-align: top;
	width: 21px;
}

.countdown-row {
	display: block;
}

.countdown-section {
	border-right: 1px solid #fff;
	border-color: rgba(255,255,255,0.8);
	color: #fff;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 25%;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}

.countdown-section:first-child {
	border-left: 1px solid #fff;
	border-color: rgba(255,255,255,0.8);
}

.countdown-amount {
	display: block;
	font-size: 48px;
	font-weight: 700;
	line-height: 1;
	padding-bottom: 20px;
}

.countdown-period {
	display: block;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
}

/* Newsletter form */
#newsletter-form,
#mc-embedded-subscribe-form {
	position: relative;
}

#newsletter-form .form-field,
#mc-embedded-subscribe-form .form-field {
	margin-right: 175px;
	position: relative;
}

#newsletter-form .form-submit,
#mc-embedded-subscribe-form .form-submit {
	position: absolute;
	right: 0;
	top: 0;
	width: 160px;
}

#newsletter_email,
#newsletter_submit,
#mce-EMAIL,
#EMAIL,
#mc-embedded-subscribe {
	display: block;
	height: 40px;
	width: 100%;
}

#newsletter_email,
#mce-EMAIL,
#EMAIL {
	padding-left: 40px;
}

#newsletter-form .icon,
#mc-embedded-subscribe-form .icon {
	border-right: 2px solid #fff;
	bottom: 10px;
	color: #fff;
	height: 20px;
	font-size: 16px;
	left: 2px;
	line-height: 1.25;
	position: absolute;
	text-align: center;
	width: 32px;
}

#newsletter-form span.error,
#mc-embedded-subscribe-form span.error {
	background: #1799dd;
	background: rgba(23,153,221,0.8);
	border: 1px solid #1799dd;
	border-radius: 3px;
	color: #fff;
	font-size: 10px;
	letter-spacing: 1px;
	padding: 5px;
	position: absolute;
	right: 10px;	
	text-transform: uppercase;
	top: -15px;
}

.newsletter .spinner {
	height: 40px;
	margin: 0 0 30px;
	width: auto;
}

.newsletter .square {
	background: #fff;
	background: rgba(255,255,255,0.6);
	height: 15px;
	width: 15px;
}

.newsletter .success {
	margin-bottom: 30px;
	min-height: 40px;
}

.newsletter .success .icon {
	color: #fff;
	display: inline-block;
	font-size: 16px;
	height: 24px;
	line-height: 1.5;
	margin-right: 3px;
	text-align: center;
	vertical-align: top;
	width: 24px;
}

/* Right Wrap
-------------------------------------------------*/
.right-wrap .inner {
	position: relative;
}

/* Navigation */
.site-nav {
	margin-bottom: 75px;
}

#menu {
	list-style: none;
	margin: 0;
	padding-right: 214px;
	position: relative;
}

#menu li {
	float: left;
	margin-left: 15px;
}

#menu li:first-child {
	margin-left: 0;
}

#menu a {
	border: 2px solid #49535d;
	border-radius: 3px;
	color: #6c7a89;
	display: block;
	font-size: 14px;
	padding: 5px 15px 6px;
	text-decoration: none;
	-webkit-transition:	all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition:	all 0.2s ease;
}

#menu .active a,
#menu a:hover {
	border-color: #1799dd;
	color: #1799dd;
}

/* Services */
.service-icon {
	float: left;
}

.service-icon .icon {
	background: #1799dd;
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 48px;
	height: 90px;
	line-height: 1.875;
	text-align: center;
	width: 90px;
}

.service-desc {
	border-left: 1px solid #1799dd;
	margin-bottom: 45px;
	margin-left: 125px;
	min-height: 90px;
	padding-left: 30px;
	position: relative;
}

.service-desc:before {
	border-style: solid;
	border-width: 6px 5px 6px 0;
	border-color: transparent #1799dd transparent transparent;
	content: "";
	height: 0;
	left: -6px;
	position: absolute;
	top: 38px;
	width: 0;
}

/* Team */
.team-photo {
	margin-bottom: 45px;
}

.team-photo img {
	border-radius: 3px;
}

.team-desc {
	margin-bottom: 15px;
}

.team-social {
	list-style: none;
	margin-left: 0;
}

.team-social li {
	float: left;
	margin-left: 10px;
}

.team-social li:first-child {
	margin-left: 0;
}

.team-social a {
	background: #49535d;
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 16px;
	height: 30px;
	line-height: 1.875;
	text-align: center;
	text-decoration: none;
	-webkit-transition:	all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition:	all 0.2s ease;
	width: 30px;
}

.team-social a:hover {
	background: #1799dd;
}

/* Contact */
.google-map {
	color: #49535d;
	height: 300px;
	margin-bottom: 45px;
	width: 100%;
}

.google-map img {
	max-width: none;
}

/* Footer */
.footer-social {
	list-style: none;
	margin: 0;
	position: absolute;
	right: 60px;
	top: 45px;
}

.footer-social li {
	float: left;
	margin-left: 10px;
}

.footer-social li:first-child {
	margin-left: 0;
}

.footer-social a {
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 16px;
	height: 36px;
	line-height: 2.125;
	text-align: center;
	text-decoration: none;
	-webkit-transition:	all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition:	all 0.2s ease;
	width: 36px;
}

.footer-social a:hover {
	color: rgba(22,30,39,0.6);
}

.facebook a {
	background: #3b5998;
}

.twitter a {
	background: #55acee;
}

.googleplus a {
	background: #dd4b39;
}

.dribbble a {
	background: #ea4c89;
}

.pinterest a {
	background: #c8232c;
}

.tumblr a {
	background: #34526f;
}

.wordpress a {
	background: #21759b;
}

.linkedin a {
	background: #0e76a8;
}

.vimeo a {
	background: #44bbff;
}

.youtube a {
	background: #c4302b;
}

/* No JS
-------------------------------------------------*/
.no-js .countdown,
.no-js .google-map,
.no-js #preload {
	display: none;
}

.no-js .fadeInLeft,
.no-js .fadeInRight {
	opacity: 1;
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

/* Media Queries
-------------------------------------------------*/
@media only screen and (max-width: 1200px) {
	.left-wrap {
		height: auto;
		position: relative;
		width: 100%;
	}
	
	.right-wrap {
		margin-left: 0;
		min-height: 0;		
		width: 100%;
	}

	.right-wrap .inner {
		position: static;
	}

	#menu {
		padding-right: 0;
	}

	#main {
		padding-bottom: 45px;
	}	

	.footer-social {
		border-top: 1px solid #49535d;
		margin: 0;
		padding-top: 30px;
		position: static;
	}
}

@media only screen and (max-width: 640px) {
	.countdown-amount {
		font-size: 36px;
	}
}

@media only screen and (max-width: 480px) {
	.inner {
		padding: 45px 30px;
	}

	.site-header,
	.site-nav {
		margin-bottom: 60px;
	}

	.intro-title,
	.countdown-amount {
		font-size: 30px;
	}

	.countdown-period {
		font-size: 10px;
		letter-spacing: 1px;
	}

	#newsletter-form .form-field {
		margin: 0 0 15px;
	}

	#newsletter-form .form-submit {
		position: static;
	}

	.newsletter .success {
		min-height: 95px;
	}

	.newsletter .spinner {
		height: 95px;
	}

	.one-half,
	.one-third,
	.two-thirds {
		width: 100%;
	}

	.team-photo {
		margin-bottom: 30px;
	}

	.service-icon {
		float: none;
		margin-bottom: 30px;
	}

	.service-desc {
		border-left: 0;
		margin-left: 0;
		min-height: 0;
		padding-left: 0;
	}

	.service-desc:before {
		display: none;
	}	
}


@media only screen and (max-width: 360px) {
	h1,
	.intro-title,
	.countdown-amount {
		font-size: 24px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}

	#menu li {
		display: block;
		float: none;
		margin-bottom: 10px;
		margin-left: 0;		
	}
}